{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    <style>
        /*body{
            background-color: gold;
        }*/
    </style>
{% endblock %}

{% block body %}
    {# gestion de name, name2 et myage #}
    <h1>{{ name }}</h1>
    <h2>{{ name2 }}</h2>
    {% if myage >= 25 %}
        <h3 style="color:red;">l'age = {{ myage }}</h3>
    {% elseif myage == 22 %}
        <h4 style="color:green;">l'age = {{ myage }}</h4>
    {% else %}
        <h6 style="color:purple;">l'age = {{ myage }}</h6>
    {% endif %}

    {# foreach du myPrenoms #}
    <div class="row">
        {% for prenom, age in myPrenoms %}

                <div class="col-md-4 my-3">
                    <div class="card">
                        {% if loop.first %}
                            <h1 style="color:purple;">la 1ère</h1>
                        {% elseif loop.last %}
                            <h1 style="color:green;">la dernière</h1>
                        {% endif %}

                        <h1>{{ loop.index }} / {{ loop.length }} - Prénom: {{ prenom }}</h1>
                        <h3>Age: {{ age }} ans</h3>
                    </div>
                </div>

        {% endfor %}

    </div>

    {# boucle for simple #}
    <ul>
        {% for compteur in 0..10 %}
            <li>{{ compteur }}</li>
        {% endfor %}
    </ul>

    {# set fait => $nom = "Berti" #}
    {% set nom = "Berti" %}

    <h1>Bonjour {{ nom }}</h1>

    <a href="{{ path('app_test') }}" class="btn btn-primary my-3">la page test</a>


{% endblock %}

{% block Jordan %}
    <h1>Contenu du block Jordan du controller: {{ controller_name }}</h1>
{% endblock %}

{% block javascripts %}
    {# parent() permet de récup ce qu'il y a par défaut dans le block concerné dans le template de base #}
    {{ parent() }}
    <script>
        console.log('Hello HomeController!');
    </script>
{% endblock %}


{# un commentaire #}
{# commentaire #}
