{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    <style>
        body{
            background-color: gold;
        }
    </style>
{% endblock %}

{% block body %}

    <h1>{{ name }}</h1>
    <h2>{{ name2 }}</h2>
    {% if myage >= 25 %}
        <h3 style="color:red;">l'age = {{ myage }}</h3>
    {% elseif myage == 22 %}
        <h4 style="color:green;">l'age = {{ myage }}</h4>
    {% else %}
        <h6 style="color:purple;">l'age = {{ myage }}</h6>
    {% endif %}



    {% for prenom, age in myPrenoms %}
        <div>
            <h1>Prénom: {{ prenom }}</h1>
            <h3>Age: {{ age }} ans</h3>
        </div>
    {% endfor %}

    <ul>
        {% for compteur in 0..10 %}
            <li>{{ compteur }}</li>
        {% endfor %}
    </ul>


{% endblock %}

{% block Jordan %}
    <h1>Contenu du block Jordan du controller: {{ controller_name }}</h1>
{% endblock %}



{# un commentaire #}
{# commentaire #}
